*{
    padding: 0px;
    margin: 0px;
    
}
body{
width: 100%;
background:  #44403F ;

;
}
header{
height: 99px;
background:#44403F ;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.logo{   
width: 100px;
height: 25px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 25px;
letter-spacing: 3px;
color: #FFFFFF;
}
.iput-block{
    width: 555px;
    height: 52px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: #CFCFCF;
}
.input{
    background: transparent;
    width: 480px;
    border: none;
    padding: 0 10px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Gilroy",sans-serif;
    outline: none;
    
}
.input::placeholder{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Gilroy",sans-serif;
    font-weight: 100;
}
.contact-block {
    display: flex;
    align-items: center;
    
}

.contact-block img {
    width: 32px;
    height: 32px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);

}

.contact{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.contact a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: "Gilroy_b" sans-serif;
    font-weight: 700;
}

.contact span{
    font-family: "Gilroy_ul", sans-serif;
    color: #CFCFCF;
    font-size: 15px;
}


.basket{
    width: 149px;
    height: 52px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    color: #fff;
    font-family:    "Gilroy", sans-serif;
    font-size: 17px;
}

.num{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50px;
    color: black;
    position: relative;
}

.num::before {
    content: '';
    left: -13px;
    width: 1px;
    height: 38px;
    background: #fff;
    position: absolute;
    opacity: .4;
}
.baner{
    width: 100%;
}
.menu{
    width: 100%;
    height: 72px;
}

.menu-list{
    height: 40px;
    display: flex; 
    justify-content: center;
}
.li{
    padding-top: 15px;
}
.li:hover{
    
    border-bottom:3px solid #618967;
    transition: 0.1s;
}
a {
    text-decoration: none;
    color: #FFFFFF;
  }
li{
    list-style-type: none;
}
ul,li {
  padding: 1%;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px #FFFFFF;
}
.section{
    width: 100%;
    height: auto;
}
.zag-sec{
    border-left:  4px solid #618967 ;
    margin-top: 50px;
    margin-left: 160px;
    size: 32px;
    padding-left: 19px;
    color: #FFFFFF;
}
.slider{
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
margin-top: 30px;
}
.slider-item{
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    
    height: 385px;
}
.slider-item:hover{
    transform: translateX(2px);
    transform: translateY(2px);
    transition: 0.3s;
}
.slid-logo-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 25px 0px;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.slider-img{
    border-radius: 10px 10px 0px 0px;
}
.slider-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 22px 0px;
    color: #FFFFFF;
}
.s-btn{
    cursor: pointer;
    width: 136px;
    height: 44px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    color: #FFFFFF;
    border: none;
}
.p-slider{
    margin-bottom: 27px;
    color: #CFCFCF;
    display: flex;
    justify-content: center;
}
.icon-bascet{
    padding-left: 7px;
    width: 24px;
    height: 24px;
}
.abaut{
    height: 610px;
    width: 1363px;
    background-image: url(../png/фото\ \(1\).png )  ;
    background-size: cover;
    margin: 0 auto;
    transform: translateY(100px);
}
.abaut-block{
    background: linear-gradient(90deg, #292728 32%, rgba(68, 64, 63, 0) 100%);
    height: 89%;
    width: 97.2%;
    display: flex;
    padding: 35px 35px 32px 30px;
    justify-content: space-between;
}
.abaut-p{
    width: 50%;
    height: 88%;
    background: none;
    color: #fff;
    font-family: "Gilroy", sans-serif;
}
.abaut-p h2{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 26px 0;
}
.abaut-p p{
    font-size: 20px;
    font-family: "Gilroy_l", sans-serif;
    color: #CFCFCF;
    width: 563px;
}
.abaut-btn a{
    text-decoration: none;
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abaut-btn{
    margin-top: 82px;
    height: 59px;
    width: 223px;
    border-radius: 10px;
    border: 1px solid #FFFFFF33;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}
.abaut-btn:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2))
}
.abaut-menu{
    height: 79%;
    display: flex;
    flex-wrap: wrap;
    width: 485px;
    margin-right: 100px;
}
.abaut-menu-block{
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 227px;
    width: 227px;
    color: #fff;
    text-decoration: none;
    font-family: "Gilroy_l", sans-serif;
    background: #504B4AE5;
    margin-left: 15px;
    margin-bottom: 15px;
}
.abaut-menu-block:hover{
    box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.463);
    backdrop-filter: blur(2px);
    color: #5c9f66;
}
.abaut-menu-block span{
    margin-top: 30px;
}



